* {
  font-family: "Proza Libre", sans-serif;
}

header {
  background-color: #f0f0f0;
}

.header-container {
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 2rem;
  color: #562b81;
  background-color: #f0f0f0;
  font-family:
    Lexend,
    sans-serif;
}

.heading {
  font-weight: normal;
  font-size: 1.25rem;
  padding-left: 10px;
  color: #562b81;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.relative-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  color: black;
  border: 1px solid;
  overflow: auto;
  box-shadow: 3px 2px 2px gray;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  opacity: 0.45;
  border: 1px solid;
  box-shadow: 3px 2px 2px gray;
}

.logo {
  background-color: #b6b6b6;
  text-align: center;
  margin-top: -2px;
  border: 1px solid black;
  color: white;
  box-shadow: 3px 2px 2px gray;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}

.text-area {
  width: 100%;
  border: 1px solid;
  box-shadow: 3px 2px 2px gray;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
}

h6 {
  margin-left: 8px;
  font-weight: normal;
  font-size: 0.85rem;

  /* margin-top: 4px;
  margin-bottom: 5px; */
  margin-top: 14px;
  margin-bottom: 15px;
}

.author {
  margin-top: 25px;
  margin-bottom: 21px;
  color: #562b81;
  font-size: 1.01rem;
}

button {
  margin-top: 15px;
  border: 0.5px solid;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 1px;
  box-shadow: 3px 2px 2px gray;
  box-shadow: 0 6px 6px -4px rgb(0 0 0 / 30%);
  width: 70%;
  color: #562b81;
  cursor: pointer;
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-quote,
.random-quote,
.yes-button,
.no-button {
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

.random-quote:hover,
.yes-button:hover,
.no-button:hover,
.custom-quote:hover {
  font-weight: bold;
  background-color: #b6b6b6;
}

.hidden {
  display: none;
}
